---
// GET request made to load categories when:
// - navigating between years inside a category
// - lazy loading an extra category at the bottom of the page
import { getCollection, z } from "astro:content";
import settings from "~/settings/years-setup.json";

import Category from "~/components/category.astro";
import ProjectList from "~/components/project-list.astro";
import { fetchPageProps } from "~/fetch-page-props";

export const partial = true;
export const prerender = true;

export async function getStaticPaths() {
  const collectionItems = await getCollection("categories");
  return settings
    .flatMap(({ year, languages }) =>
      languages.flatMap((language) => {
        const collectionItem = collectionItems.find(
          (item) => item.id === year.toString()
        );
        const categorySlugs = collectionItem!.data.map((item) => item.key);
        return categorySlugs.map((category) => ({
          year: year.toString(),
          language,
          category,
        }));
      })
    )
    .map(({ year, language, category }) => ({
      params: {
        year,
        language,
        category,
      },
    }));
}

const searchSchema = z.object({
  year: z.coerce.number().int().min(2016).max(2024),
  category: z.string(),
  language: z.string(),
});

const {
  year,
  category: categorySlug,
  language,
} = searchSchema.parse(Astro.params);

const { projectsByTag, categories } = await fetchPageProps(year, language!);

const projects = projectsByTag[categorySlug];
const category = categories.find((cat) => cat.key === categorySlug);
const offset = category?.limit || 5;
const extraProjects = projects.slice(offset);
---

<Category
  projects={projects}
  year={year}
  language={language}
  category={category}
/>

<div class="extra-projects">
  <ProjectList
    projects={extraProjects}
    year={year}
    language={language}
    offset={offset}
    starDeltaReference={projects[0].delta}
  />
</div>
