---
import { useTranslations } from "~/i18n/utils";

import ProjectList from "./project-list.astro";
import TranslatedBlock from "./translated-block.astro";
import Guest from "./guest.astro";
import LoadingIndicator from "./loading-indicator.astro";
import CategoryNavByYear from "./category-nav-by-year.astro";

export interface Props {
  language: string;
  year: number;
  projects: RisingStars.Project[];
  category: RisingStars.Category;
}
const { language, year, projects, category } = Astro.props;
const { availableComments, key: tag, limit = 5, guest } = category;

const key = tag.replace(/-/gi, "");
const { t } = await useTranslations(language, year);

const topProjects = projects.slice(0, limit);

const hasComment = !availableComments || availableComments.includes(language);
---

<section class="section" id={`category-${tag}`}>
  <div class={`container${hasComment ? "" : " small-container"}`}>
    <a id={`section-${tag}`} aria-hidden="true"></a>
    <div class="header">
      <h2>
        {t(`categories.${key}`)}
      </h2>
      <CategoryNavByYear language={language} year={year} category={tag} />
    </div>

    <div class={`${hasComment ? "project-category-grid" : ""}`}>
      <div class={`rankings${hasComment ? " column1" : ""}`}>
        <ProjectList
          projects={topProjects}
          language={language}
          year={year}
          openFirstProject={tag === "all"}
          starDeltaReference={projects[0].delta}
        />

        <button
          type="button"
          class="button show-more-button"
          hx-get={`/${year}/${language}/${tag}`}
          hx-select=".extra-projects"
          hx-trigger="click"
          hx-target="this"
          hx-swap="outerHTML"
        >
          SHOW MORE
          <LoadingIndicator />
        </button>
      </div>
      <div>
        {
          hasComment && (
            <div class="column2">
              {guest && (
                <Guest guestId={guest} language={language} year={year} />
              )}
              <TranslatedBlock
                id={`categories/${tag}`}
                language={language}
                year={year}
              />
            </div>
          )
        }
      </div>
    </div>
  </div>
</section>

<style>
  .header {
    padding: calc(var(--spacing) * 1.5) 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border-color);
  }

  h2 {
    font-size: 1.4rem;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    h2 {
      font-size: 1.3rem;
      text-align: center;
    }
    .header {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
</style>
