---
import { useTranslations } from "~/i18n/utils";
import years from "~/settings/years-setup.json";

import ProjectList from "./project-list.astro";
import TranslatedBlock from "./translated-block.astro";
import Guest from "./guest.astro";
import LoadingIndicator from "./loading-indicator.astro";

export interface Props {
  language: string;
  year: number;
  projects: RisingStars.Project[];
  category: RisingStars.Category;
}
const { language, year, projects, category } = Astro.props;
const { availableComments, key: tag, limit = 5, count, guest } = category;

const key = tag.replace(/-/gi, "");
const { t } = await useTranslations(language, year);

const topProjects = projects.slice(0, limit);
const extraProjects = projects.slice(limit, count);

const hasComment = !availableComments || availableComments.includes(language);

const firstYear = years.at(0)!.year;
const lastYear = years.at(-1)!.year;
const isFirstYear = year === firstYear;
const isLastYear = year === lastYear;
---

<section class="section" id={`category-${tag}`}>
  <div class={`container${hasComment ? "" : " small-container"}`}>
    <a id={`section-${tag}`}></a>
    <h2 class="project-category-header">
      {
        !isFirstYear ? (
          <button
            type="button"
            class="button nav-button"
            hx-post={`/${year - 1}/${language}/${tag}`}
            hx-trigger="click"
            hx-target="closest section"
            hx-swap="outerHTML"
          >
            ← {year - 1}
            <LoadingIndicator />
          </button>
        ) : (
          <span />
        )
      }
      <div class="project-category-header-inner">
        {t(`categories.${key}`)}
      </div>
      {
        !isLastYear ? (
          <button
            type="button"
            class="button nav-button"
            hx-post={`/${year + 1}/${language}/${tag}`}
            hx-trigger="click"
            hx-target="closest section"
            hx-swap="outerHTML"
          >
            <LoadingIndicator />
            {year + 1} →
          </button>
        ) : (
          <span />
        )
      }
    </h2>
    <div class={`${hasComment ? "project-category-grid" : ""}`}>
      <div>
        <div class={`rankings${hasComment ? " column1" : ""}`}>
          <ProjectList
            projects={topProjects}
            language={language}
            year={year}
            openFirstProject={tag === "all"}
          />

          <button
            type="button"
            class="button show-more-button"
            hx-post=`/${year}/${language}/${tag}/projects`
            hx-trigger="click"
            hx-target={`#category-${tag} .rankings`}
            hx-swap="innerHTML"
          >
            SHOW MORE
            <LoadingIndicator />
          </button>
        </div>
      </div>
      <div>
        {
          hasComment && (
            <div class="column2">
              {guest && (
                <Guest guestId={guest} language={language} year={year} />
              )}
              <div class="tag-card-comments markdown-body">
                <TranslatedBlock
                  id={`categories/${tag}`}
                  language={language}
                  year={year}
                />
              </div>
            </div>
          )
        }
      </div>
    </div>
  </div>
</section>

<style>
  .nav-button {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    height: 32px;
    border-width: 0;
    color: var(--mediumgrey);
  }
  .nav-button:hover {
    background-color: transparent;
    color: var(--linkColor);
  }
  .htmx-indicator {
    opacity: 0;
  }
</style>
