---
import type { LanguageCode } from "~/schema";
import TranslatedBlock from "./translated-block.astro";

export interface Props {
  guestId: string;
  year: number;
  language: LanguageCode;
}
const { year, language, guestId } = Astro.props;
---

<div class="guest">
  <TranslatedBlock id={`guests/${guestId}`} year={year} language={language} />
  <img
    src={`/img/guests/${guestId}.jpg`}
    width="120"
    height="120"
    alt={`Guest Writer ${guestId}`}
    loading="lazy"
  />
</div>

<style>
  .guest {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing);
    margin-bottom: var(--spacing);
    padding: var(--spacing);
    border: 1px dashed var(--border-color);
    background: white;
  }
  img {
    max-width: 120px;
    display: block;
  }
</style>
