---
import ProjectAvatar from "./project-avatar.astro";
import { formatStarNumber } from "./project-shared.ts";
import ProjectInteractive from "./project-interactive.tsx";
import ProjectDetails from "./project-details.astro";
import ProjectSummary from "./project-summary.astro";

interface Props {
  projects: RisingStars.Project[];
  language: string;
  year: number;
  openFirstProject?: boolean;
  offset?: number;
  starDeltaReference: number;
}

const {
  projects,
  openFirstProject = false,
  offset = 0,
  language,
  year,
  starDeltaReference,
} = Astro.props;
---

<div class="project-list">
  {
    projects.map((project, index) => {
      return (
        // @ts-expect-error todo: fix this type, how to type correctly slots with Preact?
        <ProjectInteractive
          client:visible
          defaultIsOpen={openFirstProject && index === 0}
        >
          <ProjectSummary
            slot="summary"
            project={project}
            position={index + offset + 1}
            starDeltaReference={starDeltaReference}
          />
          <ProjectDetails
            slot="details"
            project={project}
            language={language}
            year={year}
          />
        </ProjectInteractive>
      );
    })
  }
</div>
