---
import { useTranslations } from "~/i18n/utils";
import { formatStarNumber } from "./project-shared";
import BarChartByMonth from "./bar-chart-by-month.astro";
import LoadingIndicator from "./loading-indicator.astro";
import type { LanguageCode, RawProject } from "~/schema";

export interface Props {
  project: RawProject;
  language: LanguageCode;
  year: number;
}

const { project, language, year } = Astro.props;
const { url, full_name, stars, slug } = project;

const bestOfJsURL = `https://bestofjs.org/projects/${slug}`;

function formatProjectCreationDate(project: RawProject) {
  const date = project.created_at.toISOString();
  const yearAndMonth = date.slice(0, 7); // TODO format using i18n
  return yearAndMonth;
}

function formatURL(url: string) {
  const result = url.replace(/\/$/, "").toLowerCase();
  return result.replace(/^https?:\/\/(.*)$/, "$1");
}

const { t } = await useTranslations(language, year);
---

<div class="project-details">
  <div>
    <h4>
      {t("common.view_project.trends", { year })}
    </h4>
    <BarChartByMonth project={project} language={language} year={year} />
  </div>

  <div
    hx-trigger="load"
    hx-get={`/${year}/${language}/projects/${project.slug}`}
    hx-swap="outerHTML"
  >
    <LoadingIndicator />
  </div>

  <div>
    <h4>
      {t("common.view_project.data", { defaultValue: "GitHub data" })}
    </h4>
    <div class="data-list">
      <div>
        {t("common.view_project.created", { defaultValue: "Created" })}
      </div>
      <div>
        {formatProjectCreationDate(project)}
      </div>
      <div>
        {
          t("common.view_project.stars_total", {
            defaultValue: "Total stars",
          })
        }
      </div>
      <div>
        {formatStarNumber(stars, 1)}☆
      </div>
    </div>
  </div>

  <div>
    <h4>
      {t("common.view_project.links", { defaultValue: "Links" })}
    </h4>
    <div class="data-list">
      <div>GitHub</div>
      <a href={`https://github.com/${full_name}`}>{full_name}</a>
      {
        url && (
          <>
            <div>
              {t("common.view_project.homepage", { defaultValue: "Homepage" })}
            </div>
            <a href={url}>{formatURL(url)}</a>
          </>
        )
      }
      <div>Best of JS</div>
      <a href={bestOfJsURL}>{formatURL(bestOfJsURL)}</a>
    </div>
  </div>
</div>

<style is:global>
  .project-details {
    background: white;
    z-index: 100;
    overflow: hidden;
    padding: 10px var(--spacing) var(--spacing);
    display: flex;
    gap: var(--spacing);
    flex-direction: column;
    h4 {
      width: 100%;
      margin-bottom: 10px;
      border: 1px dashed var(--grey3);
      text-align: center;
      font-size: var(--smallish-font);
      color: var(--mediumgrey);
      padding: 2px 0;
    }
    .data-list {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 5px;
      font-size: var(--smallish-font);
    }
  }
</style>
