---
import type { CollectionEntry } from "astro:content";

export interface Props {
  member: CollectionEntry<"contributors">;
}
const { member } = Astro.props;

function getAvatarURL(userId: number) {
  const size = 75;
  return `https://avatars0.githubusercontent.com/u/${userId}?v=3&s=${size}`;
}

const { name, isOpenToWork, url, userId } = member.data;

const avatarURL = getAvatarURL(userId);
const { Content } = await member.render();
---

<div class="contributor">
  <a href={url} aria-label={name}>
    <img
      class="avatar"
      src={avatarURL}
      width="75"
      height="75"
      alt={name}
      loading="lazy"
    />
  </a>
  <div class="contributor-body">
    <div class="header">
      <a href={url} class="name">
        {name}
      </a>
      {isOpenToWork && <div class="badge">Open to work</div>}
    </div>
    <div class="bio">
      <Content />
    </div>
  </div>
</div>

<style>
  a,
  .bio :global(a) {
    color: #fbf3ef;
  }
  a:hover,
  .bio :global(a:hover) {
    color: #fbf3ef;
    text-decoration: underline;
  }

  .contributor {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  }
  .contributor:first-child {
    padding-top: 0;
  }
  .contributor:last-child {
    border-bottom-width: 0;
    padding-bottom: 0;
  }

  .contributor:hover .name {
    color: white;
  }
  .contributor-body {
    padding-left: 1rem;
    color: rgba(255, 255, 255, 0.8);
  }

  .header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 0.5rem;
  }

  .name {
    color: rgba(255, 255, 255, 0.95);
    display: block;
    font-size: 1.25rem;
  }
  .avatar {
    background-color: white;
    display: block;
    border: 2px solid rgba(255, 255, 255, 0.5);
  }
  .badge {
    background-color: #01754f;
    color: white;
    padding: 2px 5px;
    border-radius: 8px;
    font-size: var(--smallish-font);
    font-family: "Space Mono", monospace;
  }
</style>
